<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Title</title>
</head>
<body>
    <div id="login-body">
        <h3>Login</h3>
        <form action="{{ loginFormAction }}" method="post">
            <label for="email">email</label>
            <input type="text" id="email" name="email" /><br/>
            <label for="password">password</label>
            <input type="password" id="password" name="password" /><br/>
            <input type="submit" />
        </form>
    </div>
</body>
</html>