<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>T A L K</title>
</head>
<body>
    <div class="content">
        {{ #firstTwoMessages }}
            <div class="message {{#isReplies}}reply{{/isReplies}} {{#isTopics}}topic{{/isTopics">
                {{ #isTopics }}<h3>{{subject}}</h3> {{ /isTopics }}
                <p>{{text}}</p>
            </div>
        {{ /firstTwoMessages }}
    </div>
</body>
</html>