<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>T A L K</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="content">
        <div class="site-header">
            <p>
                _logged in as <a href="{{profileUrl}}">{{activeUser.username}}</a>_
            </p>
            <p>
                _this site will self destruct in {{roomTtlDays}} days, {{roomTtlHours}} hours, {{roomTtlMinutes}} minutes_
            </p>
            <a href="/" class="back">...º•take me home•º...</a>
        </div>
        {{#header}}
            <div class="message header topic">
                <h3 style="background-color: #{{author.titleBackgroundColor}}; color: #{{author.titleTextColor}};"><span class="title">{{title}}</span><span class="username">{{author.username}}</span></h3>
                <p>{{{body}}}</p>
                <p class="replies">| <a href="{{url}}">{{replyCount}} replies</a> |</p>
            </div>
        {{/header}}
        {{#firstTwoMessages}}
            <div class="message {{#isReplies}}reply{{/isReplies}} {{#isTopics}}topic{{/isTopics}}">
                {{#isTopics}}<h3 style="background-color: #{{author.titleBackgroundColor}}; color: #{{author.titleTextColor}};"><span class="title">{{title}}</span><span class="username">{{author.username}}</span></h3>{{/isTopics}}
                <p>{{{body}}}</p>
                {{#isReplies}}<p class="attribution">-{{author.username}}</p>{{/isReplies}}
                {{#isTopics}}<p class="replies">| <a href="{{url}}">{{replyCount}} replies</a> |</p>{{/isTopics}}
            </div>
        {{/firstTwoMessages}}
        {{#isTopics}}
            <div class="composer">
                <form action="{{postTopic}}" method="post">
                    <label for="subject">Title: </label>
                    <input type="text" id="subject" name="subject" />
                    <label for="body" class="textarea-label">Message: </label>
                    <textarea rows="4" cols="6" name="body" id="body"></textarea>
                    <input type="submit" />
                </form>
            </div>
        {{/isTopics}}
        {{#remainingMessages}}
            <div class="message {{#isReplies}}reply{{/isReplies}} {{#isTopics}}topic{{/isTopics}}">
                {{#isTopics}}<h3 style="background-color: #{{author.titleBackgroundColor}}; color: #{{author.titleTextColor}};"><span class="title">{{title}}</span><span class="username">{{author.username}}</span></h3>{{/isTopics}}
                <p>{{{body}}}</p>
                {{#isReplies}}<p class="attribution">-{{author.username}}</p>{{/isReplies}}
                {{#isTopics}}<p class="replies">| <a href="{{url}}">{{replyCount}} replies</a> |</p>{{/isTopics}}
            </div>
        {{/remainingMessages}}

        {{#isReplies}}
        <div class="composer">
            <form action="{{postReply}}" method="post">
                <label for="body">Reply: </label>
                <textarea rows="4" cols="6" name="body" id="body"></textarea>
                <input type="submit" />
            </form>
        </div>
        {{/isReplies}}
    </div>
</body>
</html>