<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>l o g i n</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="content">
        <div class="site-header">
            <a href="/" class="back">...back...</a>
        </div>
        <div class="profile">
            <div class="composer">
                <form action="{{profileUrl}}" method="post">
                    <label for="username">Username: </label>
                    <input name="username" id="username" type="text" value="{{username}}"/><br />
                    <label for="email">Email: </label>
                    <input name="email" id="email" type="text" value="{{email}}" /><br/>
                    <label for="password">Password:</label>
                    <input name="password" id="password" type="password" />
                    <p class="smalltext">(leave this blank, unless you want to change it!)</p>
                    <input type="submit" />
                </form>
                <a href="{{logoutUrl}}">logout!</a>
            </div>
        </div>
    </div>
</body>
</html>