body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
    text-align: center;
}

.smalltext {
    font-size: 10pt;
}

#login-body {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}

#login-body form input {
    margin-bottom: 1em;
}

#login-body form label {
    font-weight: bold;
    width: 100px;
    display: inline-block;
    text-align: left;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
}

.site-header {
    text-align: center;
}

.site-header p {
    font-size: 10pt;
}

.site-header a {
    text-decoration: none;
}

.site-header a.back {
    font-size: 10pt;
}

h3 {
    background-color: black;
    color: white;
    font-size: 12pt;
    padding: 0.25em;
    padding-left: 0.5em;
    font-weight: normal;
}

h3 span {
    display: block;
}

h3 span.username {
    text-align: right;
}

h3 span.title {
    float: left;
}

.message p {
    padding-left: 0.5em;
}

.message .replies {
    text-align: center;
}

.composer {
    line-height: 1.6;
}

.composer .textarea-label {
    display: block;
}
.composer textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    display: block;
}

.composer input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    display: block;
}

.composer:before {
    content: " ";
    display: block;
    height: 0.75em;
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 10%;
    background-color: black;
}

.composer:after {
    content: " ";
    display: block;
    height: 0.75em;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 10%;
    background-color: black;
}

.profile .composer input {
    margin-top: 1em;
}

.profile .composer a {
    text-align: center;
    display: block;
    margin-top: 1em;
}

p.attribution {
    font-size: 10pt;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding-bottom: 0.25em;
}